
Saved/Autosaves/Game/FlyingBP/Maps/FlyingExampleMap_Auto3.umap
Saved/Autosaves/Game/FlyingBP/Maps/FlyingExampleMap_Auto4.umap
Saved/Autosaves/Game/FlyingBP/Maps/FlyingExampleMap_Auto5.umap
Saved/Autosaves/Game/FlyingBP/Maps/FlyingExampleMap_Auto6.umap
Saved/Autosaves/Game/FlyingBP/Maps/FlyingExampleMap_Auto7.umap
Saved/Autosaves/Game/FlyingBP/Maps/FlyingExampleMap_Auto8.umap
Saved/Autosaves/PackageRestoreData.json
Saved/Logs/PlaneTest2.log
Saved/Autosaves/Game/FlyingBP/Blueprints/BTTAIPLANETest/PlaneBehaviourThree_Auto6.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/BTTAIPLANETest/PlaneBehaviourThree_Auto7.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/BTTAIPLANETest/PlaneBehaviourThree_Auto8.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/BTTAIPLANETest/PlaneController_Auto4.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/BTTAIPLANETest/PlaneMoveTask_Auto3.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/BTTAIPLANETest/PlaneMoveTask_Auto6.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/BTTAIPLANETest/PlaneMoveTask_Auto8.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/BTTAIPLANETest/PlaneTask_Auto1.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Plane/AiFlyingPawn_Auto2.uasset
Saved/Autosaves/Game/FlyingBP/Maps/FlyingExampleMap_Auto1.umap
Saved/Backup/AiFlyingPawn_2018-09-30-17-11-20.uasset
Saved/Backup/AiFlyingPawn_2018-09-30-17-25-33.uasset
Saved/Backup/AiFlyingPawn_2018-10-03-17-07-18.uasset
Saved/Backup/AiFlyingPawn_2018-10-03-18-07-11.uasset
Saved/Backup/AiFlyingPawn_2018-10-03-18-23-22.uasset
Saved/Backup/AiFlyingPawn_2018-10-03-18-39-25.uasset
Saved/Backup/AiFlyingPawn_2018-10-03-18-44-51.uasset
Saved/Backup/AiFlyingPawn_2018-10-03-19-25-13.uasset
Saved/Backup/BtService_SetRandomLocation_2018-10-03-17-46-30.uasset
Saved/Backup/FlyingExampleMap_2018-09-30-12-18-29.umap
Saved/Backup/FlyingExampleMap_2018-09-30-12-35-49.umap
Saved/Backup/FlyingExampleMap_2018-09-30-12-50-09.umap
Saved/Backup/FlyingExampleMap_2018-09-30-13-08-50.umap
Saved/Backup/FlyingExampleMap_2018-09-30-13-20-26.umap
Saved/Backup/FlyingExampleMap_2018-09-30-18-40-01.umap
Saved/Backup/FlyingExampleMap_2018-09-30-19-01-46.umap
Saved/Backup/FlyingExampleMap_2018-09-30-19-12-21.umap
Saved/Backup/FlyingExampleMap_2018-10-03-16-44-04.umap
Saved/Backup/FlyingExampleMap_2018-10-03-16-55-24.umap
Saved/Backup/FlyingExampleMap_2018-10-03-18-04-58.umap
Saved/Backup/FlyingExampleMap_2018-10-03-18-46-44.umap
Saved/Backup/FlyingExampleMap_2018-10-03-18-53-27.umap
Saved/Backup/FlyingExampleMap_2018-10-03-19-30-36.umap
Saved/Backup/FlyingExampleMap_2018-10-03-19-57-19.umap
Saved/Backup/FlyingExampleMap_BuiltData_2018-09-30-12-05-38.uasset
Saved/Backup/FlyingExampleMap_BuiltData_2018-09-30-19-01-47.uasset
Saved/Backup/FlyingExampleMap_BuiltData_2018-10-03-16-55-25.uasset
Saved/Backup/FlyingExampleMap_BuiltData_2018-10-03-18-53-28.uasset
Saved/Backup/FlyingExampleMap_BuiltData_2018-10-03-19-57-20.uasset
Saved/Backup/MissileTarget_2018-09-30-18-25-59.uasset
Saved/Backup/MissileTarget_2018-09-30-18-40-02.uasset
Saved/Backup/MissileTarget_2018-09-30-18-46-14.uasset
Saved/Backup/PlaneBackboard_2018-10-03-16-41-20.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-16-41-20.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-16-50-03.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-16-58-44.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-17-12-22.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-17-31-14.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-18-20-54.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-18-46-45.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-19-07-59.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-19-17-34.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-19-24-36.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-19-29-40.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-03-19-51-38.uasset
Saved/Backup/PlaneChar_2018-10-03-16-39-27.uasset
Saved/Backup/PlaneController_2018-10-03-17-53-42.uasset
Saved/Backup/PlaneController_2018-10-03-18-15-08.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-17-04-15.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-17-10-50.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-17-23-03.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-17-31-12.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-17-36-31.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-17-43-08.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-17-49-07.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-17-58-22.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-18-10-38.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-18-15-47.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-18-23-13.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-18-36-46.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-18-42-25.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-18-54-16.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-19-05-41.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-19-10-53.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-19-17-00.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-19-23-14.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-19-28-20.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-19-35-33.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-19-40-43.uasset
Saved/Backup/PlaneMoveTask_2018-10-03-19-46-03.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-16-46-04.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-16-52-53.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-17-46-48.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-18-15-04.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-18-20-44.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-18-27-34.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-18-41-07.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-18-51-46.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-19-03-56.uasset
Saved/Backup/PlaneTaskSearh_2018-10-03-19-25-15.uasset
Saved/Backup/PlayerPlane_2018-09-30-18-53-39.uasset
Saved/Backup/PlayerPlane_2018-09-30-18-59-37.uasset
Saved/Backup/PlayerPlane_2018-09-30-19-12-22.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-2AD8C7204A7AC05F0493C78AA615FA42/CrashReportClient.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/WorldState/2522551031.json
Saved/Logs/PlaneTest2-backup-2018.09.26-13.50.21.log
Saved/Logs/PlaneTest2-backup-2018.10.03-16.33.02.log
Saved/Logs/PlaneTest2.log
Saved/Autosaves/Game/FlyingBP/Blueprints/BTTAIPLANETest/PlaneBehaviourThree_Auto1.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Plane/AiFlyingPawn_Auto3.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Plane/AiFlyingPawn_Auto4.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Plane/AiFlyingPawn_Auto5.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Plane/AiFlyingPawn_Auto6.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Plane/AiFlyingPawn_Auto8.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Plane/AiFlyingPawn_Auto9.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Plane/HealtBar_Auto2.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Weapons/BaseProjectile_Auto1.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Weapons/BaseProjectile_Auto2.uasset
Saved/Autosaves/Game/FlyingBP/Blueprints/Weapons/WeaponsInterface_Auto0.uasset
Saved/Autosaves/Game/FlyingBP/Maps/FlyingExampleMap_Auto0.umap
Saved/AutoScreenshot.png
Saved/Backup/AiFlyingPawn_2018-10-04-14-14-31.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-14-24-32.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-14-52-27.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-14-59-53.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-15-06-51.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-15-11-56.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-15-19-30.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-15-30-16.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-15-35-41.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-15-45-42.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-17-09-35.uasset
Saved/Backup/AiFlyingPawn_2018-10-04-17-15-57.uasset
Saved/Backup/BaseProjectile_2018-10-04-16-57-28.uasset
Saved/Backup/BaseProjectile_2018-10-04-17-04-57.uasset
Saved/Backup/BaseProjectile_2018-10-04-17-10-08.uasset
Saved/Backup/BaseProjectile_2018-10-04-17-15-16.uasset
Saved/Backup/BaseProjectile_2018-10-04-17-22-38.uasset
Saved/Backup/BaseProjectile_2018-10-04-17-28-04.uasset
Saved/Backup/DamageFire_2018-10-04-15-29-57.uasset
Saved/Backup/FlyingExampleMap_2018-09-30-17-23-49.umap
Saved/Backup/FlyingExampleMap_2018-09-30-17-55-54.umap
Saved/Backup/FlyingExampleMap_2018-10-04-14-14-31.umap
Saved/Backup/FlyingExampleMap_2018-10-04-14-24-32.umap
Saved/Backup/FlyingExampleMap_2018-10-04-14-59-53.umap
Saved/Backup/FlyingExampleMap_2018-10-04-15-13-20.umap
Saved/Backup/FlyingExampleMap_2018-10-04-15-24-49.umap
Saved/Backup/FlyingExampleMap_2018-10-04-15-35-41.umap
Saved/Backup/FlyingExampleMap_2018-10-04-16-34-46.umap
Saved/Backup/FlyingExampleMap_2018-10-04-17-15-56.umap
Saved/Backup/FlyingExampleMap_2018-10-04-17-29-57.umap
Saved/Backup/FlyingExampleMap_2018-10-04-17-52-52.umap
Saved/Backup/FlyingExampleMap_BuiltData_2018-10-04-17-17-58.uasset
Saved/Backup/FlyingExampleMap_BuiltData_2018-10-04-17-52-52.uasset
Saved/Backup/HealtBar_2018-10-04-14-09-57.uasset
Saved/Backup/HealtBar_2018-10-04-14-53-06.uasset
Saved/Backup/HealtBar_2018-10-04-15-13-36.uasset
Saved/Backup/HealtBar_2018-10-04-15-20-33.uasset
Saved/Backup/Missile_2018-10-04-17-07-25.uasset
Saved/Backup/Missile_2018-10-04-17-13-00.uasset
Saved/Backup/Missile_2018-10-04-17-22-41.uasset
Saved/Backup/Missile_2018-10-04-17-28-45.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-04-11-46-32.uasset
Saved/Backup/PlaneBehaviourThree_2018-10-04-17-52-56.uasset
Saved/Backup/PlaneController_2018-10-04-11-32-50.uasset
Saved/Backup/PlaneMoveTask_2018-10-04-11-32-42.uasset
Saved/Backup/PlaneMoveTask_2018-10-04-11-41-09.uasset
Saved/Backup/PlaneMoveTask_2018-10-04-15-04-29.uasset
Saved/Backup/PlaneTaskSearh_2018-10-04-11-32-46.uasset
Saved/Backup/PlaneTaskSearh_2018-10-04-11-41-24.uasset
Saved/Backup/PlayerPlane_2018-10-04-17-19-44.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-20432424463AEB2B34EC6BBC36D45C5E/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-C286B1334966337B023C188131667FD2/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-D90A253149EDFE7C77964594DDEDDAFA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-DA84DDC74D411FDB5A5F758A4F68FB79/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-E3639A91493C873B6E341180D2F3D502/CrashReportClient.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/PlaneTest2-backup-2018.10.04-11.27.32.log
Saved/Logs/PlaneTest2.log
